body{
    background-color: #00cccc;
}
#showNumber{
    
    text-align: center;
    font-size: xx-large;
}

button{
    background-color: #33cc00;
    position: absolute;
   
width:100px;
height: 66px;
border-radius: 15%;
left:45%;
box-shadow: #009999 5px 2px;
}